@font-face {
  font-family: "PokemonSolid";
  font-display: auto;
  src: url(./../../../assets/fonts/PokemonSolid.ttf) format("truetype");
}
.header-title {
  font-family: "PokemonSolid", Arial, Helvetica, sans-serif;
  color: #f8c505;
  text-shadow: -3px 0 #316ab2, 0 3px #316ab2, 3px 0 #316ab2, 0 -3px #316ab2;
  position: absolute;
  right: 25px;
}
.header-title-link {
  text-decoration: none;
}
.header-title-link:hover {
  text-decoration: none;
}
.poke-header {
  display: flex;
  justify-content: stretch;
  /* background-image: url("../../assets/pokedex-logo.png");
  background-size: cover; */
}
.poke-part {
  width: 33.33vw;
  background-color: #dc0a2d;
}
.poke-header-left {
  height: 100px;
  position: relative;
}
.poke-header-middle {
  border-radius: 0px 00px 50px 0px;
  /* transform: skew(-15deg); */
  text-align: center;
}
.pokedex-logo {
  width: 50%;
  height: 50%;
}
.poke-header-right {
  height: 50px;
  position: relative;
}
.poke-header-volumen {
  position: absolute;
  background-color: #26aafc;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  left: 40%;
  top: 20%;
  border: 5px solid #dbe6df;
}

.poke-header-volumen-outer {
  position: absolute;
  background-color: #196a9f;
  width: 40%;
  border-radius: 50%;
  height: 40%;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.poke-header-volumen-inner {
  position: absolute;
  background-color: #a3daf9;
  width: 30%;
  border-radius: 50%;
  height: 30%;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.lights-container {
  display: flex;
}
.light {
  width: 15px;
  height: 15px;
  border: 1px black solid;
  border-radius: 50%;
  margin: 5px;
}
.red-light {
  background-color: #d20326;
}
.yellow-light {
  background-color: #fdf271;
}
.green-light {
  background-color: #2f733d;
}
